openapi: 3.0.0
info:
  description: |-
    The **Lite API** can be used to to do the following

    Get room rates & availability for a set of hotels
    Select a specific hotel with room availability and make a booking
    Manage the bookings - retrieve and cancel existing bookings
    Get static content for hotels, search hotels by destination
  title: Lite API
  version: 2.0.0
servers:
- url: https://api.liteapi.travel/v2.0
security:
- apikeyAuth: []
tags:
- description: The **Search API** collection provides the minimum rate that is available
    on a collection of hotels that is based on hotel IDs on specific search dates
    and the rates that are available for every room in the same hotel collection.
  name: search
- description: The **Book API** collection provides the relevant methods to book a
    specific room rate of a hotel.
  name: book
- description: "The **Booking Management API** collection provides different methods\
    \ to retrieve an existing booking by the booking Id and also by guest Id, It also\
    \ provides a method to cancel an existing booking Id if it exists and when cancellation\
    \ policies are met"
  name: booking management
- description: "The **Static Data API** collection provides a set of API's that help\
    \ with generating the static content that is needed to build a hotel booking application.\
    \ API's include getting country codes, city list by country, currency codes, IATA\
    \ airport codes and getting properties based on search conditions which includes\
    \ property name, information, images and cancellation policies."
  name: static data
- description: "The **Guest and Loyalty API** is a collection of endpoints that provides\
    \ information regarding the guests, guest ID and the guest levels."
  name: guest and loyalty
paths:
  /hotels:
    get:
      description: |-
        **Hotel Minimum Rates API** is to search and return the minimum room rates that are available for a list of hotel ID's on the specified search dates.

        For each hotel ID, the minimum room rate that is available is returned.

        The API also has a built in loyalty rewards system. The system rewards return users who have made prior bookings.

        If the search is coming from a known guest ID, the guest level is also returned along with pricing has more discounts.

        If it is a new user, the guest ID will be generated at the time of the first confirmed booking.

         Example API key for test: sand_c0155ab8-c683-4f26-8f94-b5e92c5797b9
      parameters:
      - description: List of hotelIds
        example: "lp3803c,lp1f982,lp19b70,lp19e75"
        explode: true
        in: query
        name: hotelIds
        required: true
        schema:
          type: string
        style: form
      - description: Check in data in YYYY-MM-DD format
        example: 2023-11-15
        explode: true
        in: query
        name: checkin
        required: true
        schema:
          type: string
        style: form
      - description: Check out data in YYYY-MM-DD format
        example: 2023-11-16
        explode: true
        in: query
        name: checkout
        required: true
        schema:
          type: string
        style: form
      - description: Currency code - example (USD)
        example: USD
        explode: true
        in: query
        name: currency
        required: true
        schema:
          type: string
        style: form
      - description: Guest nationality ISO-2 code - example (SG)
        example: US
        explode: true
        in: query
        name: guestNationality
        required: true
        schema:
          type: string
        style: form
      - description: Number of adult guests staying
        example: "1"
        explode: true
        in: query
        name: adults
        required: true
        schema:
          type: integer
        style: form
      - description: Number of children staying if any
        example: "12,9"
        explode: true
        in: query
        name: children
        required: false
        schema:
          type: string
        style: form
      - description: Unique traveler ID if available
        example: testtraveler1
        explode: true
        in: query
        name: guestId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - hotelId: "49123"
                  currency: USD
                  price: 3763.62
                - hotelId: "49117"
                  currency: USD
                  price: 81.13
                guestLevel: 0
                sandbox: true
              schema:
                type: object
          description: OK
          headers:
            Date:
              explode: false
              schema:
                example: "Fri, 27 Jan 2023 21:29:29 GMT"
                type: string
              style: simple
            Content-Type:
              explode: false
              schema:
                example: application/json; charset=utf-8
                type: string
              style: simple
            Content-Length:
              explode: false
              schema:
                example: 188
                type: integer
              style: simple
            Connection:
              explode: false
              schema:
                example: keep-alive
                type: string
              style: simple
            x-amzn-RequestId:
              explode: false
              schema:
                example: b94b69a4-8dc8-44b1-a3d9-d60a8eafdab6
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                example: '*'
                type: string
              style: simple
            Content-Encoding:
              explode: false
              schema:
                example: gzip
                type: string
              style: simple
            Access-Control-Allow-Headers:
              explode: false
              schema:
                example: "Content-Type, Content-Length, Accept-Encoding, X-CSRF-Token,\
                  \ Authorization, accept, origin, Cache-Control, X-Requested-With,\
                  \ Content-Disposition"
                type: string
              style: simple
            x-amzn-Remapped-Content-Length:
              explode: false
              schema:
                example: 222
                type: integer
              style: simple
            x-amz-apigw-id:
              explode: false
              schema:
                example: fa9I1GozIAMFwlg=
                type: string
              style: simple
            Access-Control-Allow-Methods:
              explode: false
              schema:
                example: "POST, HEAD, PATCH, OPTIONS, GET, PUT, DELETE"
                type: string
              style: simple
            Access-Control-Expose-Headers:
              explode: false
              schema:
                example: "Content-Type, Content-Length, Accept-Encoding, X-CSRF-Token,\
                  \ Authorization, accept, origin, Cache-Control, X-Requested-With,\
                  \ Content-Disposition"
                type: string
              style: simple
            x-amzn-Remapped-Date:
              explode: false
              schema:
                example: "Fri, 27 Jan 2023 21:29:29 GMT"
                type: string
              style: simple
            Access-Control-Max-Age:
              explode: false
              schema:
                example: 10
                type: integer
              style: simple
            Access-Control-Allow-Credentials:
              explode: false
              schema:
                example: true
                type: boolean
              style: simple
        "204":
          content:
            application/json:
              example:
                error:
                  code: 204
                  message: no availability found
              schema:
                type: object
          description: No Content
          headers:
            Access-Control-Allow-Credentials:
              explode: false
              schema:
                example: true
                type: boolean
              style: simple
            Access-Control-Allow-Headers:
              explode: false
              schema:
                example: "Content-Type, Content-Length, Accept-Encoding, X-CSRF-Token,\
                  \ Authorization, accept, origin, Cache-Control, X-Requested-With,\
                  \ Content-Disposition"
                type: string
              style: simple
            Access-Control-Allow-Methods:
              explode: false
              schema:
                example: "POST, HEAD, PATCH, OPTIONS, GET, PUT, DELETE"
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                example: '*'
                type: string
              style: simple
            Access-Control-Expose-Headers:
              explode: false
              schema:
                example: "Content-Type, Content-Length, Accept-Encoding, X-CSRF-Token,\
                  \ Authorization, accept, origin, Cache-Control, X-Requested-With,\
                  \ Content-Disposition"
                type: string
              style: simple
            Access-Control-Max-Age:
              explode: false
              schema:
                example: 10
                type: integer
              style: simple
            Content-Type:
              explode: false
              schema:
                example: application/json; charset=utf-8
                type: string
              style: simple
            Date:
              explode: false
              schema:
                example: "Mon, 19 Sep 2022 10:33:11 GMT"
                type: string
              style: simple
            Content-Length:
              explode: false
              schema:
                example: 57
                type: integer
              style: simple
        "400":
          content:
            application/json:
              example:
                error:
                  code: 400
                  message: Bad Request
              schema:
                type: object
          description: Bad Request
          headers:
            Access-Control-Allow-Credentials:
              explode: false
              schema:
                example: true
                type: boolean
              style: simple
            Access-Control-Allow-Headers:
              explode: false
              schema:
                example: "Content-Type, Content-Length, Accept-Encoding, X-CSRF-Token,\
                  \ Authorization, accept, origin, Cache-Control, X-Requested-With,\
                  \ Content-Disposition"
                type: string
              style: simple
            Access-Control-Allow-Methods:
              explode: false
              schema:
                example: "POST, HEAD, PATCH, OPTIONS, GET, PUT, DELETE"
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                example: '*'
                type: string
              style: simple
            Access-Control-Expose-Headers:
              explode: false
              schema:
                example: "Content-Type, Content-Length, Accept-Encoding, X-CSRF-Token,\
                  \ Authorization, accept, origin, Cache-Control, X-Requested-With,\
                  \ Content-Disposition"
                type: string
              style: simple
            Access-Control-Max-Age:
              explode: false
              schema:
                example: 10
                type: integer
              style: simple
            Content-Type:
              explode: false
              schema:
                example: application/json; charset=utf-8
                type: string
              style: simple
            Date:
              explode: false
              schema:
                example: "Mon, 19 Sep 2022 10:34:19 GMT"
                type: string
              style: simple
            Content-Length:
              explode: false
              schema:
                example: 33
                type: integer
              style: simple
        "401":
          content:
            application/json:
              example:
                error:
                  code: 401
                  message: Unauthorized
              schema:
                type: object
          description: Unauthorized
          headers:
            Access-Control-Allow-Credentials:
              explode: false
              schema:
                example: true
                type: boolean
              style: simple
            Access-Control-Allow-Headers:
              explode: false
              schema:
                example: "Content-Type, Content-Length, Accept-Encoding, X-CSRF-Token,\
                  \ Authorization, accept, origin, Cache-Control, X-Requested-With,\
                  \ Content-Disposition"
                type: string
              style: simple
            Access-Control-Allow-Methods:
              explode: false
              schema:
                example: "POST, HEAD, PATCH, OPTIONS, GET, PUT, DELETE"
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                example: '*'
                type: string
              style: simple
            Access-Control-Expose-Headers:
              explode: false
              schema:
                example: "Content-Type, Content-Length, Accept-Encoding, X-CSRF-Token,\
                  \ Authorization, accept, origin, Cache-Control, X-Requested-With,\
                  \ Content-Disposition"
                type: string
              style: simple
            Access-Control-Max-Age:
              explode: false
              schema:
                example: 10
                type: integer
              style: simple
            Content-Type:
              explode: false
              schema:
                example: application/json; charset=utf-8
                type: string
              style: simple
            Date:
              explode: false
              schema:
                example: "Mon, 19 Sep 2022 10:34:19 GMT"
                type: string
              style: simple
            Content-Length:
              explode: false
              schema:
                example: 33
                type: integer
              style: simple
      security:
      - apikeyAuth: []
      summary: hotel minimum rates availability
      tags:
      - search
  /hotels/rates:
    get:
      description: "The Full Rates  API is to search and return all available rooms\
        \ along with its rates, cancellation policies for a list of hotel ID's based\
        \ on the search dates. \n\nFor each hotel ID, all available room information\
        \ is returned. \n\nThe API also has a built in loyalty rewards system. The\
        \ system rewards return users who have made prior bookings. \n\nIf the search\
        \ is coming from a known guest ID, the guest level is also returned along\
        \ with the pricing that's appropriate for the guest level.\n\nIf it is a new\
        \ user, the guest ID will be generated at the time of the first confirmed\
        \ booking.\n\n Example API key for test: sand_c0155ab8-c683-4f26-8f94-b5e92c5797b9"
      parameters:
      - description: List of hotelIds
        example: "lp3803c,lp1f982,lp19b70,lp19e75"
        explode: true
        in: query
        name: hotelIds
        required: true
        schema:
          type: string
        style: form
      - description: Check in data in YYYY-MM-DD format
        example: 2023-11-15
        explode: true
        in: query
        name: checkin
        required: true
        schema:
          type: string
        style: form
      - description: Check out data in YYYY-MM-DD format
        example: 2023-11-16
        explode: true
        in: query
        name: checkout
        required: true
        schema:
          type: string
        style: form
      - description: Guest nationality ISO-2 code - example (SG)
        example: US
        explode: true
        in: query
        name: guestNationality
        required: true
        schema:
          type: string
        style: form
      - description: Currency code - example (USD)
        example: USD
        explode: true
        in: query
        name: currency
        required: true
        schema:
          type: string
        style: form
      - description: Number of adult guests staying
        example: "1"
        explode: true
        in: query
        name: adults
        required: true
        schema:
          type: integer
        style: form
      - description: Number of children staying if any
        example: "12,9"
        explode: true
        in: query
        name: children
        required: false
        schema:
          type: string
        style: form
      - description: Unique traveler ID if available
        example: traveler1
        explode: true
        in: query
        name: guestId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                example-0:
                  summary: hotel full rates availability
                  value:
                    data:
                    - hotelId: "49117"
                      termsAndConditions: "Guests are required to show a photo identification\
                        \ and credit card upon check-in. Please note that all Special\
                        \ Requests are subject to availability and additional charges\
                        \ may apply. In response to Coronavirus (COVID-19), additional\
                        \ safety and sanitation measures are in effect at this property.\
                        \ Due to Coronavirus (COVID-19), this property is taking steps\
                        \ to help protect the safety of guests and staff. Certain\
                        \ services and amenities may be reduced or unavailable as\
                        \ a result. Due to Coronavirus (COVID-19), this property adheres\
                        \ to strict physical distancing measures. Due to Coronavirus\
                        \ (COVID-19), please ensure that you are only booking this\
                        \ property following the local government guidelines of the\
                        \ destination, including but not limited to the purpose of\
                        \ travel, and maximum allowed group size. Due to Coronavirus\
                        \ (COVID-19), wearing a face mask is mandatory in all indoor\
                        \ common areas. Early departures after the guests have checked\
                        \ in will be charged for the full rate for the night of the\
                        \ departure as a penalty. A mandatory daily resort fee plus\
                        \ tax will apply. At check in, ask for applicable amenities.\
                        \ Please be advised that the credit card holder must be present\
                        \ at check-in. Any modification of a reservation will result\
                        \ in the original reservation being cancelled and a refund\
                        \ will be issued to the credit card used to secure the booking.\
                        \ The modified reservation will then be charged to the credit\
                        \ card used to secure the booking and will show as a new charge.\
                        \ Property is not responsible for exchange rate differences\
                        \ due to charges and refunds. Guests under the age of 21 can\
                        \ only check in with a parent or official guardian. This property\
                        \ charges $150 per night for incidentals. This charge is fully\
                        \ refundable upon checkout pending approval from the property.\
                        \ Guests are requested to contact the property after booking\
                        \ 10 rooms or more, as such bookings may be subject to different\
                        \ terms and conditions. Extra beds may not be available for\
                        \ all rooms. For all reservations, unless otherwise stated,\
                        \ cancel by 12am 72 hours prior to arrival date to avoid a\
                        \ penalty of one night room charge and tax. Please contact\
                        \ the hotel directly with any group related questions. The\
                        \ Buffet accepts all major credit cards as well as debit cards.\
                        \ Cash is not accepted. You may also charge your Buffet experience\
                        \ to your guest room."
                      roomTypes:
                      - roomTypeId: GQ4TCMJXGA2A
                        maxOccupancy: 1
                        rates:
                        - rateId: 1_GQ4TCMJXPQZDAMRTFUYDGLJRGV6DEMBSGMWTAMZNGE3HYML4GEZCYOL4KVJXYR2RGRKEGTKKLBDUCMSDI5GUET2HIFMUIQKNIJIUOQKSKREU6SSSI5CTGVCBJZBTOR2JLFCFCT2CKNEECWSUINHUGN2HJJIFIQ2YLJIUKTJSIRJU2SSSI42FEVSLKVMXYVKTIR6HI4TBOZSWYZLSGF6HYMBOGAYHYMRQGIZS2MBTFUYTEIBQGA5DAMB2GAYHYQSC
                          name: Encore Tower Suite Parlor
                          maxOccupancy: 0
                          retailRate:
                            total:
                            - amount: 0
                              currency: USD
                            taxesAndFees: null
                          cancellationPolicies:
                            cancelPolicyInfos:
                            - cancelTime: 2023-11-11 23:59:59
                              amount: 0
                              currency: USD
                              type: amount
                            - cancelTime: 2023-11-12 00:00:00
                              amount: 4357.6
                              currency: USD
                              type: amount
                            hotelRemarks:
                            - "Guests are required to show a photo identification\
                              \ and credit card upon check-in. Please note that all\
                              \ Special Requests are subject to availability and additional\
                              \ charges may apply. In response to Coronavirus (COVID-19),\
                              \ additional safety and sanitation measures are in effect\
                              \ at this property. Due to Coronavirus (COVID-19), this\
                              \ property is taking steps to help protect the safety\
                              \ of guests and staff. Certain services and amenities\
                              \ may be reduced or unavailable as a result. Due to\
                              \ Coronavirus (COVID-19), this property adheres to strict\
                              \ physical distancing measures. Due to Coronavirus (COVID-19),\
                              \ please ensure that you are only booking this property\
                              \ following the local government guidelines of the destination,\
                              \ including but not limited to the purpose of travel,\
                              \ and maximum allowed group size. Due to Coronavirus\
                              \ (COVID-19), wearing a face mask is mandatory in all\
                              \ indoor common areas. Early departures after the guests\
                              \ have checked in will be charged for the full rate\
                              \ for the night of the departure as a penalty. A mandatory\
                              \ daily resort fee plus tax will apply. At check in,\
                              \ ask for applicable amenities. Please be advised that\
                              \ the credit card holder must be present at check-in.\
                              \ Any modification of a reservation will result in the\
                              \ original reservation being cancelled and a refund\
                              \ will be issued to the credit card used to secure the\
                              \ booking. The modified reservation will then be charged\
                              \ to the credit card used to secure the booking and\
                              \ will show as a new charge. Property is not responsible\
                              \ for exchange rate differences due to charges and refunds.\
                              \ Guests under the age of 21 can only check in with\
                              \ a parent or official guardian. This property charges\
                              \ $150 per night for incidentals. This charge is fully\
                              \ refundable upon checkout pending approval from the\
                              \ property. Guests are requested to contact the property\
                              \ after booking 10 rooms or more, as such bookings may\
                              \ be subject to different terms and conditions. Extra\
                              \ beds may not be available for all rooms. For all reservations,\
                              \ unless otherwise stated, cancel by 12am 72 hours prior\
                              \ to arrival date to avoid a penalty of one night room\
                              \ charge and tax. Please contact the hotel directly\
                              \ with any group related questions. The Buffet accepts\
                              \ all major credit cards as well as debit cards. Cash\
                              \ is not accepted. You may also charge your Buffet experience\
                              \ to your guest room."
                            refundableTag: RFN
                      - roomTypeId: GQ4TCMJXGA2Q
                        maxOccupancy: 1
                        rates:
                        - rateId: 1_GQ4TCMJXPQZDAMRTFUYDGLJRGV6DEMBSGMWTAMZNGE3HYML4GEZCYOL4KVJXYR2RGRKEGTKKLBDUCMSTI5GUET2HIFMUIQKNIJIUOQKSKREU6SSSI5CTGVCBJZFTOR2JLFCFCT2CKNEECWSUINHUGN2HJJIFIQ2YLJIUKTJSIRJU2SSSI42FEVSLKVMXYVKTIR6HI4TBOZSWYZLSGF6HYMBOGAYHYMRQGIZS2MBTFUYTEIBQGA5DAMB2GAYHYQSC
                          name: 'Encore Tower Suite Salon '
                          maxOccupancy: 0
                          retailRate:
                            total:
                            - amount: 0
                              currency: USD
                            taxesAndFees: null
                          cancellationPolicies:
                            cancelPolicyInfos:
                            - cancelTime: 2023-11-11 23:59:59
                              amount: 0
                              currency: USD
                              type: amount
                            - cancelTime: 2023-11-12 00:00:00
                              amount: 4586.63
                              currency: USD
                              type: amount
                            hotelRemarks:
                            - "Guests are required to show a photo identification\
                              \ and credit card upon check-in. Please note that all\
                              \ Special Requests are subject to availability and additional\
                              \ charges may apply. In response to Coronavirus (COVID-19),\
                              \ additional safety and sanitation measures are in effect\
                              \ at this property. Due to Coronavirus (COVID-19), this\
                              \ property is taking steps to help protect the safety\
                              \ of guests and staff. Certain services and amenities\
                              \ may be reduced or unavailable as a result. Due to\
                              \ Coronavirus (COVID-19), this property adheres to strict\
                              \ physical distancing measures. Due to Coronavirus (COVID-19),\
                              \ please ensure that you are only booking this property\
                              \ following the local government guidelines of the destination,\
                              \ including but not limited to the purpose of travel,\
                              \ and maximum allowed group size. Due to Coronavirus\
                              \ (COVID-19), wearing a face mask is mandatory in all\
                              \ indoor common areas. Early departures after the guests\
                              \ have checked in will be charged for the full rate\
                              \ for the night of the departure as a penalty. A mandatory\
                              \ daily resort fee plus tax will apply. At check in,\
                              \ ask for applicable amenities. Please be advised that\
                              \ the credit card holder must be present at check-in.\
                              \ Any modification of a reservation will result in the\
                              \ original reservation being cancelled and a refund\
                              \ will be issued to the credit card used to secure the\
                              \ booking. The modified reservation will then be charged\
                              \ to the credit card used to secure the booking and\
                              \ will show as a new charge. Property is not responsible\
                              \ for exchange rate differences due to charges and refunds.\
                              \ Guests under the age of 21 can only check in with\
                              \ a parent or official guardian. This property charges\
                              \ $150 per night for incidentals. This charge is fully\
                              \ refundable upon checkout pending approval from the\
                              \ property. Guests are requested to contact the property\
                              \ after booking 10 rooms or more, as such bookings may\
                              \ be subject to different terms and conditions. Extra\
                              \ beds may not be available for all rooms. For all reservations,\
                              \ unless otherwise stated, cancel by 12am 72 hours prior\
                              \ to arrival date to avoid a penalty of one night room\
                              \ charge and tax. Please contact the hotel directly\
                              \ with any group related questions. The Buffet accepts\
                              \ all major credit cards as well as debit cards. Cash\
                              \ is not accepted. You may also charge your Buffet experience\
                              \ to your guest room."
                            refundableTag: RFN
                      - roomTypeId: GQ4TCMJXGA2Q
                        maxOccupancy: 1
                        rates:
                        - rateId: 1_GQ4TCMJXPQZDAMRTFUYDGLJRGV6DEMBSGMWTAMZNGE3HYML4GEZCYOL4KVJXYR2RGRKEGTKKLBDUCMSTI5GUET2HIFMUIQKNIJIUOQKSKREU6SSSI5CTGVCBJZFTOR2JLFCFCT2CKNEECWSUINHUGN2HJZIFIQ2YLJIUKTJSIRJU2SSSI42FEVSLKVMXYVKTIR6HI4TBOZSWYZLSGF6HYMBOGAYHYMRQGIZS2MBTFUYTEIBQGA5DAMB2GAYHYQSC
                          name: 'Encore Tower Suite Salon '
                          maxOccupancy: 0
                          retailRate:
                            total:
                            - amount: 0
                              currency: USD
                            taxesAndFees: null
                          cancellationPolicies:
                            cancelPolicyInfos:
                            - cancelTime: 2023-11-11 23:59:59
                              amount: 0
                              currency: USD
                              type: amount
                            - cancelTime: 2023-11-12 00:00:00
                              amount: 4643.89
                              currency: USD
                              type: amount
                            hotelRemarks:
                            - "Guests are required to show a photo identification\
                              \ and credit card upon check-in. Please note that all\
                              \ Special Requests are subject to availability and additional\
                              \ charges may apply. In response to Coronavirus (COVID-19),\
                              \ additional safety and sanitation measures are in effect\
                              \ at this property. Due to Coronavirus (COVID-19), this\
                              \ property is taking steps to help protect the safety\
                              \ of guests and staff. Certain services and amenities\
                              \ may be reduced or unavailable as a result. Due to\
                              \ Coronavirus (COVID-19), this property adheres to strict\
                              \ physical distancing measures. Due to Coronavirus (COVID-19),\
                              \ please ensure that you are only booking this property\
                              \ following the local government guidelines of the destination,\
                              \ including but not limited to the purpose of travel,\
                              \ and maximum allowed group size. Due to Coronavirus\
                              \ (COVID-19), wearing a face mask is mandatory in all\
                              \ indoor common areas. Early departures after the guests\
                              \ have checked in will be charged for the full rate\
                              \ for the night of the departure as a penalty. A mandatory\
                              \ daily resort fee plus tax will apply. At check in,\
                              \ ask for applicable amenities. Please be advised that\
                              \ the credit card holder must be present at check-in.\
                              \ Any modification of a reservation will result in the\
                              \ original reservation being cancelled and a refund\
                              \ will be issued to the credit card used to secure the\
                              \ booking. The modified reservation will then be charged\
                              \ to the credit card used to secure the booking and\
                              \ will show as a new charge. Property is not responsible\
                              \ for exchange rate differences due to charges and refunds.\
                              \ Guests under the age of 21 can only check in with\
                              \ a parent or official guardian. This property charges\
                              \ $150 per night for incidentals. This charge is fully\
                              \ refundable upon checkout pending approval from the\
                              \ property. Guests are requested to contact the property\
                              \ after booking 10 rooms or more, as such bookings may\
                              \ be subject to different terms and conditions. Extra\
                              \ beds may not be available for all rooms. For all reservations,\
                              \ unless otherwise stated, cancel by 12am 72 hours prior\
                              \ to arrival date to avoid a penalty of one night room\
                              \ charge and tax. Please contact the hotel directly\
                              \ with any group related questions. The Buffet accepts\
                              \ all major credit cards as well as debit cards. Cash\
                              \ is not accepted. You may also charge your Buffet experience\
                              \ to your guest room."
                            refundableTag: RFN
                    - hotelId: "49123"
                      termsAndConditions: "Guests are required to show a photo identification\
                        \ and credit card upon check-in. Please note that all Special\
                        \ Requests are subject to availability and additional charges\
                        \ may apply. In response to Coronavirus (COVID-19), additional\
                        \ safety and sanitation measures are in effect at this property.\
                        \ Due to Coronavirus (COVID-19), this property is taking steps\
                        \ to help protect the safety of guests and staff. Certain\
                        \ services and amenities may be reduced or unavailable as\
                        \ a result. Early departures after the guests have checked\
                        \ in will be charged for the full rate for the night of the\
                        \ departure as a penalty. A mandatory daily resort fee plus\
                        \ tax will apply. At check in, ask for applicable amenities.\
                        \ Please be advised that the credit card holder must be present\
                        \ at check-in. Any modification of a reservation will result\
                        \ in the original reservation being cancelled and a refund\
                        \ will be issued to the credit card used to secure the booking.\
                        \ The modified reservation will then be charged to the credit\
                        \ card used to secure the booking and will show as a new charge.\
                        \ Property is not responsible for exchange rate differences\
                        \ due to charges and refunds. Guests under the age of 21 can\
                        \ only check in with a parent or official guardian. This property\
                        \ charges $150 per night for incidentals. This charge is fully\
                        \ refundable upon checkout pending approval from the property.\
                        \ Guests are requested to contact the property after booking\
                        \ 10 rooms or more, as such bookings may be subject to different\
                        \ terms and conditions. For all reservations, unless otherwise\
                        \ stated, cancel by 12am 72 hours prior to arrival date to\
                        \ avoid a penalty of one night room charge and tax. Please\
                        \ contact the property with any group related questions."
                      roomTypes:
                      - roomTypeId: GQ4TCMRTGA2Q
                        maxOccupancy: 1
                        rates:
                        - rateId: 0_GQ4TCMRTPQZDAMRTFUYDGLJRGV6DEMBSGMWTAMZNGE3HYML4GEZCYOL4KVJXYR2RGRKEGTKSKRDUCMSTI5GUET2HIFMUIQKNIJIUOQKSKREU6SSSI5EVUVCBJZFTOR2JLFCFCT2CKNEECWSEJNHDEN2HJJIFIQ2YLJIUKTJSIRJU2SSTI5GVEVSLKVMXYVKTIR6HI4TBOZSWYZLSGF6HYMBOGAYHYMRQGIZS2MBTFUYTEIBQGA5DAMB2GAYHYQSC
                          name: Wynn Tower Suite Parlor
                          maxOccupancy: 0
                          retailRate:
                            total:
                            - amount: 0
                              currency: USD
                            taxesAndFees: null
                          cancellationPolicies:
                            cancelPolicyInfos:
                            - cancelTime: 2023-11-11 23:59:59
                              amount: 0
                              currency: USD
                              type: amount
                            - cancelTime: 2023-11-12 00:00:00
                              amount: 4243.09
                              currency: USD
                              type: amount
                            hotelRemarks:
                            - "Guests are required to show a photo identification\
                              \ and credit card upon check-in. Please note that all\
                              \ Special Requests are subject to availability and additional\
                              \ charges may apply. In response to Coronavirus (COVID-19),\
                              \ additional safety and sanitation measures are in effect\
                              \ at this property. Due to Coronavirus (COVID-19), this\
                              \ property is taking steps to help protect the safety\
                              \ of guests and staff. Certain services and amenities\
                              \ may be reduced or unavailable as a result. Early departures\
                              \ after the guests have checked in will be charged for\
                              \ the full rate for the night of the departure as a\
                              \ penalty. A mandatory daily resort fee plus tax will\
                              \ apply. At check in, ask for applicable amenities.\
                              \ Please be advised that the credit card holder must\
                              \ be present at check-in. Any modification of a reservation\
                              \ will result in the original reservation being cancelled\
                              \ and a refund will be issued to the credit card used\
                              \ to secure the booking. The modified reservation will\
                              \ then be charged to the credit card used to secure\
                              \ the booking and will show as a new charge. Property\
                              \ is not responsible for exchange rate differences due\
                              \ to charges and refunds. Guests under the age of 21\
                              \ can only check in with a parent or official guardian.\
                              \ This property charges $150 per night for incidentals.\
                              \ This charge is fully refundable upon checkout pending\
                              \ approval from the property. Guests are requested to\
                              \ contact the property after booking 10 rooms or more,\
                              \ as such bookings may be subject to different terms\
                              \ and conditions. For all reservations, unless otherwise\
                              \ stated, cancel by 12am 72 hours prior to arrival date\
                              \ to avoid a penalty of one night room charge and tax.\
                              \ Please contact the property with any group related\
                              \ questions."
                            refundableTag: RFN
                      - roomTypeId: GQ4TCMRTGA2Q
                        maxOccupancy: 1
                        rates:
                        - rateId: 0_GQ4TCMRTPQZDAMRTFUYDGLJRGV6DEMBSGMWTAMZNGE3HYML4GEZCYOL4KVJXYR2RGRKEGTKSKRDUCMSTI5GUET2HIFMUIQKNIJIUOQKSKREU6SSSI5EVUVCBJZFTOR2JLFCFCT2CKNEECWSEJNHDEN2HJZIFIQ2YLJIUKTJSIRJU2SSTI5GVEVSLKVMXYVKTIR6HI4TBOZSWYZLSGF6HYMBOGAYHYMRQGIZS2MBTFUYTEIBQGA5DAMB2GAYHYQSC
                          name: Wynn Tower Suite Parlor
                          maxOccupancy: 0
                          retailRate:
                            total:
                            - amount: 0
                              currency: USD
                            taxesAndFees: null
                          cancellationPolicies:
                            cancelPolicyInfos:
                            - cancelTime: 2023-11-11 23:59:59
                              amount: 0
                              currency: USD
                              type: amount
                            - cancelTime: 2023-11-12 00:00:00
                              amount: 4300.35
                              currency: USD
                              type: amount
                            hotelRemarks:
                            - "Guests are required to show a photo identification\
                              \ and credit card upon check-in. Please note that all\
                              \ Special Requests are subject to availability and additional\
                              \ charges may apply. In response to Coronavirus (COVID-19),\
                              \ additional safety and sanitation measures are in effect\
                              \ at this property. Due to Coronavirus (COVID-19), this\
                              \ property is taking steps to help protect the safety\
                              \ of guests and staff. Certain services and amenities\
                              \ may be reduced or unavailable as a result. Early departures\
                              \ after the guests have checked in will be charged for\
                              \ the full rate for the night of the departure as a\
                              \ penalty. A mandatory daily resort fee plus tax will\
                              \ apply. At check in, ask for applicable amenities.\
                              \ Please be advised that the credit card holder must\
                              \ be present at check-in. Any modification of a reservation\
                              \ will result in the original reservation being cancelled\
                              \ and a refund will be issued to the credit card used\
                              \ to secure the booking. The modified reservation will\
                              \ then be charged to the credit card used to secure\
                              \ the booking and will show as a new charge. Property\
                              \ is not responsible for exchange rate differences due\
                              \ to charges and refunds. Guests under the age of 21\
                              \ can only check in with a parent or official guardian.\
                              \ This property charges $150 per night for incidentals.\
                              \ This charge is fully refundable upon checkout pending\
                              \ approval from the property. Guests are requested to\
                              \ contact the property after booking 10 rooms or more,\
                              \ as such bookings may be subject to different terms\
                              \ and conditions. For all reservations, unless otherwise\
                              \ stated, cancel by 12am 72 hours prior to arrival date\
                              \ to avoid a penalty of one night room charge and tax.\
                              \ Please contact the property with any group related\
                              \ questions."
                            refundableTag: RFN
                    - hotelId: "49123"
                      currency: USD
                      roomTypes:
                      - roomTypeId: GI4DKLJSGI4DCNRZPRHFG7CUIR6DC7BTGMYTMOJT
                        maxOccupancy: 3
                        rates:
                        - rateId: 2_GQ4TCMRTPQZDAMRTFUYDGLJRGV6DEMBSGMWTAMZNGE3HYML4GEZCYOL4KVJXYRZUGNKE6T2KK5GVKM2HJNGVEUKHGQZEITK2KJMEONBTIRFU4WSTI5EVSRCPJVNFQR2VGNCFGTS2KVDVSMSUIVGUEWCHIEZUIQ2OLJJUOWSSKRGVUUSYI5FDMRCDJFNFGR2BLJCEOTKCKRDUKMSYLFGVEUKHJFNFIQKNLJJEOWRWI5FTGUZXJNLEUWCZKZFVIUCSJNLEOUSEGRDUMQKUIVIVUUSHJFLVIUZXIJJUOSJUIRDTOQ2WI5FEYRSRGRKDIR2FGNCE6TSCLFDVSWKEIVGVEV2HIVNEIRKRJRLEWTSKKNDU2USTJBAVSVCNJ5FEIR2JGRCEWTCKKNDUSNCEINHFEWSQKJEEMRZXINKUSURWIRBTOQSUI5GVSVCNJ5FFIRKOJJCTMSJSJ5FUURCFGREVUU2HIFNEIR2MJJIUORKXKRCU4UL4KVJUI7DUOJQXMZLMMVZDC7D4GM4DCNBOGQ3XY7CCII
                          name: Wynn Tower Suite Parlor - Room Only
                          maxOccupancy: 3
                          retailRate:
                            total:
                            - amount: 3814.47
                              currency: USD
                            taxesAndFees: null
                          cancellationPolicies:
                            cancelPolicyInfos:
                            - cancelTime: 2023-01-26
                              amount: 100
                              type: percentage
                            hotelRemarks: []
                            refundableTag: NRFN
                      - roomTypeId: GMYS2MRSHAYTMOL4KJDE47BSGAZDGMBTGEZDANRVHF6DG7BTG43DENRW
                        maxOccupancy: 3
                        rates:
                        - rateId: 2_GQ4TCMRTPQZDAMRTFUYDGLJRGV6DEMBSGMWTAMZNGE3HYML4GEZCYOL4KVJXYRZUGNKE6T2KK5GVKM2HJNGVEUKHGQZEITK2KJMEONBTIRFU4WSTI5EVSRCPJVNFQR2VGNCFGTS2KVDVSMSUIVGUEWCHIEZUIQ2OLJJUOWSSKRGVUUSYI5FDMRCDJFNFGR2BLJCEOTKCKRDUKMSYLFGVEUKHJFNFIQKNLJJEOWRWI5FTGUZXJNLEUWCZKZFVIUCSJNLEOUSEGRDUMQKUIVIVUUSHJFLVIUZXIJJUOSJUIRDTOQ2WI5FEYRSRGRKDIR2FGNCE6TSCLFDVSWKEIVGVEV2HIVNEIRKRJRLEWTSKKNDU2USTJBAVSVCNJ5FEIR2NLFJTETKSKNEECWKUJVHUYNCLJJCEKNBXIJJUOQK2IRDU2QSUI5CVURCBJZJFMSCGGZCEON2CKRDTIM2EIVHFEV2FJZFEKNSJGJJUSWSIINDU2USRI5EVUUZSJVBFIRSVLFKEK7CVKNCHY5DSMF3GK3DFOIYXY7BUGMZDOLRQGZ6DEMBSGMWTAMZNGEZHYQSC
                          name: Wynn Tower Suite Parlor - Room Only
                          maxOccupancy: 3
                          retailRate:
                            total:
                            - amount: 4327.06
                              currency: USD
                            taxesAndFees:
                            - included: false
                              description: Resort Fee
                              amount: 45.45
                              currency: USD
                            - included: true
                              description: Tax
                              amount: 457.17
                              currency: USD
                          cancellationPolicies:
                            cancelPolicyInfos:
                            - cancelTime: 2023-11-12
                              amount: 3800.29
                              currency: USD
                              type: amount
                            hotelRemarks: []
                            refundableTag: RFN
                      - roomTypeId: GMYS2MRSHAYTMOL4KJDE47BSGAZDGMBTGEZDANRVHF6DM7BTHE3DGMBQ
                        maxOccupancy: 3
                        rates:
                        - rateId: 2_GQ4TCMRTPQZDAMRTFUYDGLJRGV6DEMBSGMWTAMZNGE3HYML4GEZCYOL4KVJXYRZUGNKE6T2KK5GVKM2HJNGVEUKHGQZEITK2KJMEONBTIRFU4WSTI5EVSRCPJVNFQR2VGNCFGTS2KVDVSMSUIVGUEWCHJUZUIQ2OKRCEOWSUIRGVUTBUI5CVEVCFJVBFGR2NLFCEOTKKKZIFCWSEIFGVEVCHIFNFIQ2OKQ2E2VSYIY3FMS2UKBJEWVSHG5BVMS2OINEFSTKLIJDUUQSUINGVETSIIY3EIRKNKJMUOTRWIZFU2U2XJRBFUSCZJVFFORZUGJCFCTSSKFDUSWSEJVGUUU2HJJAVQS2VGJKEKTK2IRCU6QSSI5MTIU2HJVNFERSVLJCEKT2CKJDVSNCYLFKVGR2KLI3EIRKNIJJUOTKZIRDU2SSTI5ATGRCLJ5GDIR22GZCEOT2KK5DU2WKEIFETEU2KGRJFMRKSKNHUKTK2IRAU2USUIZKVSRCHJRFFER2JPRKVGRD4ORZGC5TFNRSXEML4PQ2DKNJXFY2DK7BSGAZDGLJQGMWTCMT4IJBA
                          name: Wynn Tower Suite Salon - Room Only
                          maxOccupancy: 3
                          retailRate:
                            total:
                            - amount: 4557.45
                              currency: USD
                            taxesAndFees:
                            - included: false
                              description: Resort Fee
                              amount: 45.45
                              currency: USD
                            - included: true
                              description: Tax
                              amount: 481.53
                              currency: USD
                          cancellationPolicies:
                            cancelPolicyInfos:
                            - cancelTime: 2023-11-12
                              amount: 4002.63
                              currency: USD
                              type: amount
                            hotelRemarks: []
                            refundableTag: RFN
                      - roomTypeId: GMYS2MRSHAYTMOL4KJDE47BSGAZDGMBTGEZDANRVHF6DC7BUGEYTKOJU
                        maxOccupancy: 3
                        rates:
                        - rateId: 2_GQ4TCMRTPQZDAMRTFUYDGLJRGV6DEMBSGMWTAMZNGE3HYML4GEZCYOL4KVJXYRZUGNKE6T2KK5GVKM2HJNGVEUKHGQZEITK2KJMEONBTIRFU4WSTI5EVSRCPJVNFQR2VGNCFGTS2KVDVSMSUIVGUEWCHIEZUIQ2OLJJUOWSSKRGVUUSYI5FDMRCDJFNFGR2BLJCEOTKCKRDUKMSYLFGVEUKHJFNFIQKNLJJEOWRWI5FTGUZXJNLEUWCZKZFVIUCSJNLEOUSEGRDUMQKUIVIVUUSHJFLVIUZXIJJUOSJUIRDTOQ2WI5FEYRSRGRKDIR2FGNCE6TSCLFDVSWKEIVGVEV2HIVNEIRKRJRLEWTSKKNDU2USTJBAVSVCNJ5FEIR2NLFJTETKSKNEECWKUJVHUYNCLJJCEKNBXIJJUOQK2IRDU2QSUI5CVURCBJZJFMSCGGZCEGN2CKVDUKWKUJNHUUVKFJZFEKNSJGJJUSWSIINDU2USRI5EVUUZSJVBFIRSVLFKEK7CVKNCHY5DSMF3GK3DFOIYXY7BUG4ZTGLRTGN6DEMBSGMWTAMZNGEZHYQSC
                          name: Wynn Tower Suite Parlor - Room Only
                          maxOccupancy: 3
                          retailRate:
                            total:
                            - amount: 4733.33
                              currency: USD
                            taxesAndFees:
                            - included: false
                              description: Resort Fee
                              amount: 45.45
                              currency: USD
                            - included: true
                              description: Tax
                              amount: 507.11
                              currency: USD
                          cancellationPolicies:
                            cancelPolicyInfos:
                            - cancelTime: 2023-11-12
                              amount: 4157.1
                              currency: USD
                              type: amount
                            hotelRemarks: []
                            refundableTag: RFN
                      - roomTypeId: GMYS2MRSHAYTMOL4KJDE47BSGAZDGMBTGEZDANRVHF6DE7BUGEYTKOJU
                        maxOccupancy: 3
                        rates:
                        - rateId: 2_GQ4TCMRTPQZDAMRTFUYDGLJRGV6DEMBSGMWTAMZNGE3HYML4GEZCYOL4KVJXYRZUGNKE6T2KK5GVKM2HJNGVEUKHGQZEITK2KJMEONBTIRFU4WSTI5EVSRCPJVNFQR2VGNCFGTS2KVDVSMSUIVGUEWCHIEZUIQ2OLJJUOWSSKRGVUUSYI5FDMRCDJFNFGR2BLJCEOTKCKRDUKMSYLFGVEUKHJFNFIQKNLJJEOWRWI5FTGUZXJNLEUWCZKZFVIUCSJNLEOUSEGRDUMQKUIVIVUUSHJFLVIUZXIJJUOSJUIRDTOQ2WI5FEYRSRGRKDIR2FGNCE6TSCLFDVSWKEIVGVEV2HIVNEIRKRJRLEWTSKKNDU2USTJBAVSVCNJ5FEIR2NLFJTETKSKNEECWKUJVHUYNCLJJCEKNBXIJJUOQK2IRDU2QSUI5CVURCBJZJFMSCGGZCEKN2CKVDUKWKUJNHUUVKFJZFEKNSJGJJUSWSIINDU2USRI5EVUUZSJVBFIRSVLFKEK7CVKNCHY5DSMF3GK3DFOIYXY7BUG4ZTGLRTGN6DEMBSGMWTAMZNGEZHYQSC
                          name: Wynn Tower Suite Parlor - Room Only
                          maxOccupancy: 3
                          retailRate:
                            total:
                            - amount: 4733.33
                              currency: USD
                            taxesAndFees:
                            - included: false
                              description: Resort Fee
                              amount: 45.45
                              currency: USD
                            - included: true
                              description: Tax
                              amount: 507.11
                              currency: USD
                          cancellationPolicies:
                            cancelPolicyInfos:
                            - cancelTime: 2023-11-12
                              amount: 4157.1
                              currency: USD
                              type: amount
                            hotelRemarks: []
                            refundableTag: RFN
                      - roomTypeId: GMYS2MRSHAYTMOL4KJDE47BSGAZDGMBTGEZDANRVHF6DK7BUGIZDKNRT
                        maxOccupancy: 3
                        rates:
                        - rateId: 2_GQ4TCMRTPQZDAMRTFUYDGLJRGV6DEMBSGMWTAMZNGE3HYML4GEZCYOL4KVJXYR2ZGJKE2WSKK5DU2M2HJVHFUU2HLEZFIRKNIJMEOUJTI5GU4WSYI5MTEVCPJVJFGR2BGNKEOTS2KZDVSNCUJ5HEEV2HKVNEIQKOLJIUOWKZKRHU2USXJVGTGR2NJZNFGUCRLFJUOTKSKFDUSWSUIFGVUUSHKY3EIRKNIJJUOTKZIRDU2SSXKBJFGVZULAZFMS2OGZDEWVJTGRFVMSSVJE3UEUSJIVNEKR2NJJJUMVJULBMU2USTJBAVUWCZKZFFGS22JVEEKN2CKJDVSM2UJFHUEV2HIFNEIRKOKJJEOSK2IVBTKS2UJNGVEVCFJVJFSR2FGNCFGSK2KRDUKV2UIVGVEWKHIUZUIUZXINJUSWSIJBMU2USRI5EVUVCBJVNFER2JLFCE2TSKLJIFCMSYLFHEEU2HJEZFITKNLJCEWSSIKNDVKU2HJJMVEVCFJVBFGR2NK5KECTK2JZDUKWSBPRKVGRD4ORZGC5TFNRSXEML4PQ2DQNJZFY2DO7BSGAZDGLJQGMWTCMT4IJBA
                          name: Encore Tower Suite Parlor - Room Only
                          maxOccupancy: 3
                          retailRate:
                            total:
                            - amount: 4859.47
                              currency: USD
                            taxesAndFees:
                            - included: false
                              description: Resort Fee
                              amount: 45.45
                              currency: USD
                            - included: true
                              description: Tax
                              amount: 520.61
                              currency: USD
                          cancellationPolicies:
                            cancelPolicyInfos:
                            - cancelTime: 2023-11-12
                              amount: 4267.89
                              currency: USD
                              type: amount
                            hotelRemarks: []
                            refundableTag: RFN
                      - roomTypeId: GMYS2MRSHAYTMOL4KJDE47BSGAZDGMBTGEZDANRVHF6DO7BUGMZTKMZU
                        maxOccupancy: 3
                        rates:
                        - rateId: 2_GQ4TCMRTPQZDAMRTFUYDGLJRGV6DEMBSGMWTAMZNGE3HYML4GEZCYOL4KVJXYRZUGNKE6T2KK5GVKM2HJNGVEUKHGQZEITK2KJMEONBTIRFU4WSTI5EVSRCPJVNFQR2VGNCFGTS2KVDVSMSUIVGUEWCHJUZUIQ2OKRCEOWSUIRGVUTBUI5CVEVCFJVBFGR2NLFCEOTKKKZIFCWSEIFGVEVCHIFNFIQ2OKQ2E2VSYIY3FMS2UKBJEWVSHG5BVMS2OINEFSTKLIJDUUQSUINGVETSIIY3EIRKNKJMUOTRWIZFU2U2XJRBFUSCZJVFFORZUGJCFCTSSKFDUSWSEJVGUUU2HJJAVQS2VGJKEKTK2IRCU6QSSI5MTIU2HJVNFERSVLJCEKT2CKJDVSNCYLFKVGR2KLI3EIRKNIJJUOTKZIRDU2SSTI5ATGRCLJ5GDIRZVGZCESTK2KRDVKWSUJFETEU2KGRJFMRKSKNHUKTK2IRAU2USUIZKVSRCHJRFFER2JPRKVGRD4ORZGC5TFNRSXEML4PQ2DSOBVFY3DI7BSGAZDGLJQGMWTCMT4IJBA
                          name: Wynn Tower Suite Salon - Room Only
                          maxOccupancy: 3
                          retailRate:
                            total:
                            - amount: 4985.64
                              currency: USD
                            taxesAndFees:
                            - included: false
                              description: Resort Fee
                              amount: 45.45
                              currency: USD
                            - included: true
                              description: Tax
                              amount: 534.14
                              currency: USD
                          cancellationPolicies:
                            cancelPolicyInfos:
                            - cancelTime: 2023-11-12
                              amount: 4378.69
                              currency: USD
                              type: amount
                            hotelRemarks: []
                            refundableTag: RFN
                      - roomTypeId: GMYS2MRSHAYTMOL4KJDE47BSGAZDGMBTGEZDANRVHF6DQ7BUGMZTKMZU
                        maxOccupancy: 3
                        rates:
                        - rateId: 2_GQ4TCMRTPQZDAMRTFUYDGLJRGV6DEMBSGMWTAMZNGE3HYML4GEZCYOL4KVJXYRZUGNKE6T2KK5GVKM2HJNGVEUKHGQZEITK2KJMEONBTIRFU4WSTI5EVSRCPJVNFQR2VGNCFGTS2KVDVSMSUIVGUEWCHJUZUIQ2OKRCEOWSUIRGVUTBUI5CVEVCFJVBFGR2NLFCEOTKKKZIFCWSEIFGVEVCHIFNFIQ2OKQ2E2VSYIY3FMS2UKBJEWVSHG5BVMS2OINEFSTKLIJDUUQSUINGVETSIIY3EIRKNKJMUOTRWIZFU2U2XJRBFUSCZJVFFORZUGJCFCTSSKFDUSWSEJVGUUU2HJJAVQS2VGJKEKTK2IRCU6QSSI5MTIU2HJVNFERSVLJCEKT2CKJDVSNCYLFKVGR2KLI3EIRKNIJJUOTKZIRDU2SSTI5ATGRCLJ5GDISCCGZCESTK2KRDVKWSUJFETEU2KGRJFMRKSKNHUKTK2IRAU2USUIZKVSRCHJRFFER2JPRKVGRD4ORZGC5TFNRSXEML4PQ2DSOBVFY3DI7BSGAZDGLJQGMWTCMT4IJBA
                          name: Wynn Tower Suite Salon - Room Only
                          maxOccupancy: 3
                          retailRate:
                            total:
                            - amount: 4985.64
                              currency: USD
                            taxesAndFees:
                            - included: false
                              description: Resort Fee
                              amount: 45.45
                              currency: USD
                            - included: true
                              description: Tax
                              amount: 534.14
                              currency: USD
                          cancellationPolicies:
                            cancelPolicyInfos:
                            - cancelTime: 2023-11-12
                              amount: 4378.69
                              currency: USD
                              type: amount
                            hotelRemarks: []
                            refundableTag: RFN
                      - roomTypeId: GMYS2MRSHAYTMOL4KJDE47BSGAZDGMBTGEZDANRVHF6DI7BUGQ2DKMBV
                        maxOccupancy: 3
                        rates:
                        - rateId: 2_GQ4TCMRTPQZDAMRTFUYDGLJRGV6DEMBSGMWTAMZNGE3HYML4GEZCYOL4KVJXYR2ZGJKE2WSKK5DU2M2HJVHFUU2HLEZFIRKNIJMEOUJTI5GU4WSYI5MTEVCPJVJFGR2BGNKEOTS2KZDVSNCUJ5HEEV2HKVNEIQKOLJKEOWKZKRGVSWSXJVMTGR2LG5BFERKNLJCECTKSKRDUCWSUINHEYNCHJFMUIRKNLJIUOTKZKRGTORCGJZNFAVSLKUZTIS2WJJMFSVSLKREVENSEINIUUU2JJVMVIRKMJJNFAUK2IRCU6QSUKBJEWVCFKZJVST2KGZCEGTSSLBDVCNCEJVGUEU2HJEZUIQ2NKJJUSRRSKZDVKWSEI5EVURCRJVFFOSCFKJKEOTKKJZDUSWSEKFGUUV2IIY3EMRKSKNHVAUK2IRAU2USUI5AVUVCDJVJFCR2ZGJKFGN2CKVIFCMSEJFHEEVSHIEZFGR2VKNIEKTSKIVGVIUSEI5EVSRCFJVNE4R2BLJJTETKKKN6FKU2EPR2HEYLWMVWGK4RRPR6DKMJRGEXDQML4GIYDEMZNGAZS2MJSPRBEE
                          name: Encore Tower Suite Salon - Room Only
                          maxOccupancy: 3
                          retailRate:
                            total:
                            - amount: 5111.81
                              currency: USD
                            taxesAndFees:
                            - included: false
                              description: Resort Fee
                              amount: 45.45
                              currency: USD
                            - included: true
                              description: Tax
                              amount: 547.66
                              currency: USD
                          cancellationPolicies:
                            cancelPolicyInfos:
                            - cancelTime: 2023-11-12
                              amount: 4489.5
                              currency: USD
                              type: amount
                            hotelRemarks: []
                            refundableTag: RFN
                    - hotelId: "273427"
                      currency: USD
                      roomTypes:
                      - roomTypeId: GMYS2MRXGM2DEN34KJDE47BSGAZDGMBTGEZDANRVHF6DG7BTHE4TQNBT
                        maxOccupancy: 3
                        rates:
                        - rateId: 0_GI3TGNBSG56DEMBSGMWTAMZNGE2XYMRQGIZS2MBTFUYTM7BRPQYTELBZPRKVG7CHGQZVIT2PJJLU2VJTI5FU2USRI42DERCNLJJFQRZUGNCEWTS2KNDUSWKEJ5GVUWCHKUZUIU2OLJKUOWJSKRCU2QSYI5GTGRCDJZKEIR22KRCE2WSMGRDUKUSUIVGUEU2HJVMUIR2NJJLFAUK2IRAU2USUI5AVUVCDJZKDITKWLBDDMVSLKRIFES2WI43UGVSLJZBUQWKNJNBEOSSCKRBU2USOJBDDMRCFJVJFSR2OGZDEWTKTK5GEEWSILFGUUV2HGQZEIUKOKJIUOSK2IRGU2SSTI5FECWCLKUZFIRKNLJCE6TK2KVDUSM2TI5GVUUSGKVNEIT2NLJKUOSJTLBMVKU2HJJNDMRCFJVBFGR2NLFCEOTKKKNDUCM2EJNHUYNCHJY3EIR2PJJNEQQJSIRDUSMSTJI2FEVSFKJJU6RKNLJCECTKSKRDFKWKEI5GEUUSHJF6FKU2EPR2HEYLWMVWGK4RRPR6DIMZZHAXDEN34GIYDEMZNGAZS2MJSPRBEE
                          name: Wynn Tower Suite Salon - Room Only
                          maxOccupancy: 3
                          retailRate:
                            total:
                            - amount: 4398.27
                              currency: USD
                            taxesAndFees:
                            - included: false
                              description: Resort Fee
                              amount: 45.45
                              currency: USD
                            - included: true
                              description: Tax
                              amount: 482.34
                              currency: USD
                          cancellationPolicies:
                            cancelPolicyInfos:
                            - cancelTime: 2023-11-12
                              amount: 4038.41
                              currency: USD
                              type: amount
                            hotelRemarks: []
                            refundableTag: RFN
                      - roomTypeId: GMYS2MRXGM2DEN34KJDE47BSGAZDGMBTGEZDANRVHF6DK7BUGEYTMMBR
                        maxOccupancy: 3
                        rates:
                        - rateId: 0_GI3TGNBSG56DEMBSGMWTAMZNGE2XYMRQGIZS2MBTFUYTM7BRPQYTELBZPRKVG7CHGQZVIT2PJJLU2VJTI5FU2USRI42DERCNLJJFQRZUGNCEWTS2KNDUSWKEJ5GVUWCHKUZUIU2OLJKUOWJSKRCU2QSYI5ATGRCDJZNFGR22KJKE2WSSLBDUUNSEINEVUU2HIFNEIR2NIJKEORJSLBMU2USRI5EVUVCBJVNFER22GZDUWM2TG5FVMSSYLFLEWVCQKJFVMR2SIQ2EORSBKRCVCWSSI5EVOVCTG5BFGR2JGRCEON2DKZDUUTCGKE2FINCHIUZUIT2OIJMUOWKZIRCU2USXI5CVURCFKFGFMS2OJJJUOTKSLBDU2MSEIVHFURCHJVMVGMSNKJMEOTJSIRCU4MZUJNFEIRJUG5BFGR2BLJCEOTKCKRDUKWSEIFHFEVSIIY3EISZXIJKUORKZKRGU2QSSIVHEURJWJEZFGSK2JBBUOTKSKFDUSWSTGJGUEVCGKVMVIRL4KVJUI7DUOJQXMZLMMVZDC7D4GQ2TENZOGYYXYMRQGIZS2MBTFUYTE7CCII
                          name: Wynn Tower Suite Parlor - Room Only
                          maxOccupancy: 3
                          retailRate:
                            total:
                            - amount: 4527.61
                              currency: USD
                            taxesAndFees:
                            - included: false
                              description: Resort Fee
                              amount: 45.45
                              currency: USD
                            - included: true
                              description: Tax
                              amount: 507.11
                              currency: USD
                          cancellationPolicies:
                            cancelPolicyInfos:
                            - cancelTime: 2023-11-12
                              amount: 4157.17
                              currency: USD
                              type: amount
                            hotelRemarks: []
                            refundableTag: RFN
                      - roomTypeId: GMYS2MRXGM2DEN34KJDE47BSGAZDGMBTGEZDANRVHF6DM7BUGIZDKNZS
                        maxOccupancy: 3
                        rates:
                        - rateId: 0_GI3TGNBSG56DEMBSGMWTAMZNGE2XYMRQGIZS2MBTFUYTM7BRPQYTELBZPRKVG7CHLEZFITK2JJLUOTJTI5GU4WSTI5MTEVCFJVBFQR2RGNDU2TS2LBDVSMSUJ5GVEU2HIEZVIR2OLJLEOWJUKRHU4QSXI5KVURCBJZNFCR2ZLFKE6TKSK5GU2M2HJVHFUU2QKFMVGR2NKJIUOSK2KRAU2WSSI5LDMRCFJVBFGR2NLFCEOTKKK5IFEU2XGRMDEVSLJY3EMS2VGM2EWVSKKVETOQSSJFCVURKHJVFFGRSVGRMFSTKSKNEECWSYLFLEUU2LLJGUQRJXIJJEOWJTKREU6QSXI5AVURCFJZJFER2JLJCUGNKLKRFU2USUIVHFUVCHKFNEIT2JLJKEORKXKRCU4WSUI5IVURCPG5BVGSK2JBEFSTKSKFDUSWSUIFGVUUSHJFMUITKOJJNFAUJTJBMU4QSTI5ETEVCPJVJEIS2KJBJUOVKTI5FFSUSUIVGUEU2HJVLVIQKNLJHEORK2IF6FKU2EPR2HEYLWMVWGK4RRPR6DINRUHAXDEOL4GIYDEMZNGAZS2MJSPRBEE
                          name: Encore Tower Suite Parlor - Room Only
                          maxOccupancy: 3
                          retailRate:
                            total:
                            - amount: 4648.29
                              currency: USD
                            taxesAndFees:
                            - included: false
                              description: Resort Fee
                              amount: 45.45
                              currency: USD
                            - included: true
                              description: Tax
                              amount: 520.62
                              currency: USD
                          cancellationPolicies:
                            cancelPolicyInfos:
                            - cancelTime: 2023-11-12
                              amount: 4267.98
                              currency: USD
                              type: amount
                            hotelRemarks: []
                            refundableTag: RFN
                      - roomTypeId: GMYS2MRXGM2DEN34KJDE47BSGAZDGMBTGEZDANRVHF6DO7BUGIZDKNZS
                        maxOccupancy: 3
                        rates:
                        - rateId: 0_GI3TGNBSG56DEMBSGMWTAMZNGE2XYMRQGIZS2MBTFUYTM7BRPQYTELBZPRKVG7CHLEZFITK2JJLUOTJTI5GU4WSTI5MTEVCFJVBFQR2RGNDU2TS2LBDVSMSUJ5GVEU2HIEZVIR2OLJLEOWJUKRHU4QSXI5KVURCBJZNFCR2ZLFKE6TKSK5GU2M2HJVHFUU2QKFMVGR2NKJIUOSK2KRAU2WSSI5LDMRCFJVBFGR2NLFCEOTKKK5IFEU2XGRMDEVSLJY3EMS2VGM2EWVSKKVETOQSSJFCVURKHJVFFGRSVGRMFSTKSKNEECWSYLFLEUU2LLJGUQRJXIJJEOWJTKREU6QSXI5AVURCFJZJFER2JLJCUGNKLKRFU2USUIVHFUVCHKFNEIT2JLJKEORKXKRCU4WSUI5IVURCPG5BVGSK2JBEFSTKSKFDUSWSUIFGVUUSHJFMUITKOJJNFAUJTLBMU4QSTI5ETEVCPJVJEIS2KJBJUOVKTI5FFSUSUIVGUEU2HJVLVIQKNLJHEORK2IF6FKU2EPR2HEYLWMVWGK4RRPR6DINRUHAXDEOL4GIYDEMZNGAZS2MJSPRBEE
                          name: Encore Tower Suite Parlor - Room Only
                          maxOccupancy: 3
                          retailRate:
                            total:
                            - amount: 4648.29
                              currency: USD
                            taxesAndFees:
                            - included: false
                              description: Resort Fee
                              amount: 45.45
                              currency: USD
                            - included: true
                              description: Tax
                              amount: 520.62
                              currency: USD
                          cancellationPolicies:
                            cancelPolicyInfos:
                            - cancelTime: 2023-11-12
                              amount: 4267.98
                              currency: USD
                              type: amount
                            hotelRemarks: []
                            refundableTag: RFN
                      - roomTypeId: GMYS2MRXGM2DEN34KJDE47BSGAZDGMBTGEZDANRVHF6DI7BUGMZTKNBS
                        maxOccupancy: 3
                        rates:
                        - rateId: 0_GI3TGNBSG56DEMBSGMWTAMZNGE2XYMRQGIZS2MBTFUYTM7BRPQYTELBZPRKVG7CHGQZVIT2PJJLU2VJTI5FU2USRI42DERCNLJJFQRZUGNCEWTS2KNDUSWKEJ5GVUWCHKUZUIU2OLJKUOWJSKRCU2QSYI5GTGRCDJZKEIR22KRCE2WSMGRDUKUSUIVGUEU2HJVMUIR2NJJLFAUK2IRAU2USUI5AVUVCDJZKDITKWLBDDMVSLKRIFES2WI43UGVSLJZBUQWKNJNBEOSSCKRBU2USOJBDDMRCFJVJFSR2OGZDEWTKTK5GEEWSILFGUUV2HGQZEIUKOKJIUOSK2IRGU2SSTI5FECWCLKUZFIRKNLJCE6TK2KVDUSM2TI5GVUUSGKVNEIT2NLJKUOSJTLBMVKU2HJJNDMRCFJVBFGR2NLFCEOTKKKNDUCM2EJNHUYNCHKI3EISKNLJKEOVJSIRCUSMSTJI2FEVSFKJJU6RKNLJCECTKSKRDFKWKEI5GEUUSHJF6FKU2EPR2HEYLWMVWGK4RRPR6DINZWHAXDSNT4GIYDEMZNGAZS2MJSPRBEE
                          name: Wynn Tower Suite Salon - Room Only
                          maxOccupancy: 3
                          retailRate:
                            total:
                            - amount: 4768.96
                              currency: USD
                            taxesAndFees:
                            - included: false
                              description: Resort Fee
                              amount: 45.45
                              currency: USD
                            - included: true
                              description: Tax
                              amount: 534.14
                              currency: USD
                          cancellationPolicies:
                            cancelPolicyInfos:
                            - cancelTime: 2023-11-12
                              amount: 4378.77
                              currency: USD
                              type: amount
                            hotelRemarks: []
                            refundableTag: RFN
                      - roomTypeId: GMYS2MRXGM2DEN34KJDE47BSGAZDGMBTGEZDANRVHF6DC7BUGQ2DKMJU
                        maxOccupancy: 3
                        rates:
                        - rateId: 0_GI3TGNBSG56DEMBSGMWTAMZNGE2XYMRQGIZS2MBTFUYTM7BRPQYTELBZPRKVG7CHLEZFITK2JJLUOTJTI5GU4WSTI5MTEVCFJVBFQR2RGNDU2TS2LBDVSMSUJ5GVEU2HIEZVIR2OLJLEOWJUKRHU4QSXI5KVURCBJZNFIR2ZLFKE2WK2K5GVSM2HJM3UEUSFJVNEIQKNKJKEOQK2KRBU4TBUI5EVSRCFJVNFCR2NLFKE2N2EIZHFUUCWJNKTGNCLKZFFQWKWJNKESURWIRBVCSSTJFGVSVCFJRFFUUCRLJCEKT2CKRIFES2UIVLFGWKPJI3EIQ2OKJMEOUJUIRGU2QSTI5ETGRCDJVJFGSKGGJLEOVK2IRDUSM2UI5HEEU2HGRJFIR2NJJHEOSJTKRDU4QSTI42TMRSFKJJU6UCRLJCECTKSKRDUCWSUINGVEUKHLEZFIUZXIJJFAUJSIREU4QSWI5CTEQ2HKVJVARKOJJCU2VCSIRDUSWKEIVGVUTSHIFNFGMSNJJJXYVKTIR6HI4TBOZSWYZLSGF6HYNBYHA4S4NRVPQZDAMRTFUYDGLJRGJ6EEQQ
                          name: Encore Tower Suite Salon - Room Only
                          maxOccupancy: 3
                          retailRate:
                            total:
                            - amount: 4889.65
                              currency: USD
                            taxesAndFees:
                            - included: false
                              description: Resort Fee
                              amount: 45.45
                              currency: USD
                            - included: true
                              description: Tax
                              amount: 547.67
                              currency: USD
                          cancellationPolicies:
                            cancelPolicyInfos:
                            - cancelTime: 2023-11-12
                              amount: 4489.59
                              currency: USD
                              type: amount
                            hotelRemarks: []
                            refundableTag: RFN
                      - roomTypeId: GMYS2MRXGM2DEN34KJDE47BSGAZDGMBTGEZDANRVHF6DE7BUGQ2DKMJU
                        maxOccupancy: 3
                        rates:
                        - rateId: 0_GI3TGNBSG56DEMBSGMWTAMZNGE2XYMRQGIZS2MBTFUYTM7BRPQYTELBZPRKVG7CHLEZFITK2JJLUOTJTI5GU4WSTI5MTEVCFJVBFQR2RGNDU2TS2LBDVSMSUJ5GVEU2HIEZVIR2OLJLEOWJUKRHU4QSXI5KVURCBJZNFIR2ZLFKE2WK2K5GVSM2HJM3UEUSFJVNEIQKNKJKEOQK2KRBU4TBUI5EVSRCFJVNFCR2NLFKE2N2EIZHFUUCWJNKTGNCLKZFFQWKWJNKESURWIRBVCSSTJFGVSVCFJRFFUUCRLJCEKT2CKRIFES2UIVLFGWKPJI3EIQ2OKJMEOUJUIRGU2QSTI5ETGRCDJVJFGSKGGJLEOVK2IRDUSM2UI5HEEU2HGRJFIR2NJJHEOSJTKRDU4QSTI42TMRSFKJJU6UCRLJCECTKSKRDUCWSUINGVEUKHLEZFIUZXIJJVAUJSIREU4QSWI5CTEQ2HKVJVARKOJJCU2VCSIRDUSWKEIVGVUTSHIFNFGMSNJJJXYVKTIR6HI4TBOZSWYZLSGF6HYNBYHA4S4NRVPQZDAMRTFUYDGLJRGJ6EEQQ
                          name: Encore Tower Suite Salon - Room Only
                          maxOccupancy: 3
                          retailRate:
                            total:
                            - amount: 4889.65
                              currency: USD
                            taxesAndFees:
                            - included: false
                              description: Resort Fee
                              amount: 45.45
                              currency: USD
                            - included: true
                              description: Tax
                              amount: 547.67
                              currency: USD
                          cancellationPolicies:
                            cancelPolicyInfos:
                            - cancelTime: 2023-11-12
                              amount: 4489.59
                              currency: USD
                              type: amount
                            hotelRemarks: []
                            refundableTag: RFN
                    guestLevel: 0
                    sandbox: true
                example-1:
                  summary: hotel full rates availability unauthorized
                  value:
                    data:
                    - hotelId: "49117"
                      termsAndConditions: "Guests are required to show a photo identification\
                        \ and credit card upon check-in. Please note that all Special\
                        \ Requests are subject to availability and additional charges\
                        \ may apply. In response to Coronavirus (COVID-19), additional\
                        \ safety and sanitation measures are in effect at this property.\
                        \ Due to Coronavirus (COVID-19), this property is taking steps\
                        \ to help protect the safety of guests and staff. Certain\
                        \ services and amenities may be reduced or unavailable as\
                        \ a result. Due to Coronavirus (COVID-19), this property adheres\
                        \ to strict physical distancing measures. Due to Coronavirus\
                        \ (COVID-19), please ensure that you are only booking this\
                        \ property following the local government guidelines of the\
                        \ destination, including but not limited to the purpose of\
                        \ travel, and maximum allowed group size. Due to Coronavirus\
                        \ (COVID-19), wearing a face mask is mandatory in all indoor\
                        \ common areas. Early departures after the guests have checked\
                        \ in will be charged for the full rate for the night of the\
                        \ departure as a penalty. A mandatory daily resort fee plus\
                        \ tax will apply. At check in, ask for applicable amenities.\
                        \ Please be advised that the credit card holder must be present\
                        \ at check-in. Any modification of a reservation will result\
                        \ in the original reservation being cancelled and a refund\
                        \ will be issued to the credit card used to secure the booking.\
                        \ The modified reservation will then be charged to the credit\
                        \ card used to secure the booking and will show as a new charge.\
                        \ Property is not responsible for exchange rate differences\
                        \ due to charges and refunds. Guests under the age of 21 can\
                        \ only check in with a parent or official guardian. This property\
                        \ charges $150 per night for incidentals. This charge is fully\
                        \ refundable upon checkout pending approval from the property.\
                        \ Guests are requested to contact the property after booking\
                        \ 10 rooms or more, as such bookings may be subject to different\
                        \ terms and conditions. Extra beds may not be available for\
                        \ all rooms. For all reservations, unless otherwise stated,\
                        \ cancel by 12am 72 hours prior to arrival date to avoid a\
                        \ penalty of one night room charge and tax. Please contact\
                        \ the hotel directly with any group related questions. The\
                        \ Buffet accepts all major credit cards as well as debit cards.\
                        \ Cash is not accepted. You may also charge your Buffet experience\
                        \ to your guest room."
                      roomTypes:
                      - roomTypeId: GQ4TCMJXGA2A
                        maxOccupancy: 1
                        rates:
                        - rateId: 1_GQ4TCMJXPQZDAMRTFUYDGLJRGV6DEMBSGMWTAMZNGE3HYML4GEZCYOL4KVJXYR2RGRKEGTKKLBDUCMSDI5GUET2HIFMUIQKNIJIUOQKSKREU6SSSI5CTGVCBJZBTOR2JLFCFCT2CKNEECWSUINHUGN2HJJIFIQ2YLJIUKTJSIRJU2SSSI42FEVSLKVMXYVKTIR6HI4TBOZSWYZLSGF6HYMBOGAYHYMRQGIZS2MBTFUYTEIBQGA5DAMB2GAYHYQSC
                          name: Encore Tower Suite Parlor
                          maxOccupancy: 0
                          retailRate:
                            total:
                            - amount: 0
                              currency: USD
                            taxesAndFees: null
                          cancellationPolicies:
                            cancelPolicyInfos:
                            - cancelTime: 2023-11-11 23:59:59
                              amount: 0
                              currency: USD
                              type: amount
                            - cancelTime: 2023-11-12 00:00:00
                              amount: 4357.6
                              currency: USD
                              type: amount
                            hotelRemarks:
                            - "Guests are required to show a photo identification\
                              \ and credit card upon check-in. Please note that all\
                              \ Special Requests are subject to availability and additional\
                              \ charges may apply. In response to Coronavirus (COVID-19),\
                              \ additional safety and sanitation measures are in effect\
                              \ at this property. Due to Coronavirus (COVID-19), this\
                              \ property is taking steps to help protect the safety\
                              \ of guests and staff. Certain services and amenities\
                              \ may be reduced or unavailable as a result. Due to\
                              \ Coronavirus (COVID-19), this property adheres to strict\
                              \ physical distancing measures. Due to Coronavirus (COVID-19),\
                              \ please ensure that you are only booking this property\
                              \ following the local government guidelines of the destination,\
                              \ including but not limited to the purpose of travel,\
                              \ and maximum allowed group size. Due to Coronavirus\
                              \ (COVID-19), wearing a face mask is mandatory in all\
                              \ indoor common areas. Early departures after the guests\
                              \ have checked in will be charged for the full rate\
                              \ for the night of the departure as a penalty. A mandatory\
                              \ daily resort fee plus tax will apply. At check in,\
                              \ ask for applicable amenities. Please be advised that\
                              \ the credit card holder must be present at check-in.\
                              \ Any modification of a reservation will result in the\
                              \ original reservation being cancelled and a refund\
                              \ will be issued to the credit card used to secure the\
                              \ booking. The modified reservation will then be charged\
                              \ to the credit card used to secure the booking and\
                              \ will show as a new charge. Property is not responsible\
                              \ for exchange rate differences due to charges and refunds.\
                              \ Guests under the age of 21 can only check in with\
                              \ a parent or official guardian. This property charges\
                              \ $150 per night for incidentals. This charge is fully\
                              \ refundable upon checkout pending approval from the\
                              \ property. Guests are requested to contact the property\
                              \ after booking 10 rooms or more, as such bookings may\
                              \ be subject to different terms and conditions. Extra\
                              \ beds may not be available for all rooms. For all reservations,\
                              \ unless otherwise stated, cancel by 12am 72 hours prior\
                              \ to arrival date to avoid a penalty of one night room\
                              \ charge and tax. Please contact the hotel directly\
                              \ with any group related questions. The Buffet accepts\
                              \ all major credit cards as well as debit cards. Cash\
                              \ is not accepted. You may also charge your Buffet experience\
                              \ to your guest room."
                            refundableTag: RFN
                      - roomTypeId: GQ4TCMJXGA2Q
                        maxOccupancy: 1
                        rates:
                        - rateId: 1_GQ4TCMJXPQZDAMRTFUYDGLJRGV6DEMBSGMWTAMZNGE3HYML4GEZCYOL4KVJXYR2RGRKEGTKKLBDUCMSTI5GUET2HIFMUIQKNIJIUOQKSKREU6SSSI5CTGVCBJZFTOR2JLFCFCT2CKNEECWSUINHUGN2HJJIFIQ2YLJIUKTJSIRJU2SSSI42FEVSLKVMXYVKTIR6HI4TBOZSWYZLSGF6HYMBOGAYHYMRQGIZS2MBTFUYTEIBQGA5DAMB2GAYHYQSC
                          name: 'Encore Tower Suite Salon '
                          maxOccupancy: 0
                          retailRate:
                            total:
                            - amount: 0
                              currency: USD
                            taxesAndFees: null
                          cancellationPolicies:
                            cancelPolicyInfos:
                            - cancelTime: 2023-11-11 23:59:59
                              amount: 0
                              currency: USD
                              type: amount
                            - cancelTime: 2023-11-12 00:00:00
                              amount: 4586.63
                              currency: USD
                              type: amount
                            hotelRemarks:
                            - "Guests are required to show a photo identification\
                              \ and credit card upon check-in. Please note that all\
                              \ Special Requests are subject to availability and additional\
                              \ charges may apply. In response to Coronavirus (COVID-19),\
                              \ additional safety and sanitation measures are in effect\
                              \ at this property. Due to Coronavirus (COVID-19), this\
                              \ property is taking steps to help protect the safety\
                              \ of guests and staff. Certain services and amenities\
                              \ may be reduced or unavailable as a result. Due to\
                              \ Coronavirus (COVID-19), this property adheres to strict\
                              \ physical distancing measures. Due to Coronavirus (COVID-19),\
                              \ please ensure that you are only booking this property\
                              \ following the local government guidelines of the destination,\
                              \ including but not limited to the purpose of travel,\
                              \ and maximum allowed group size. Due to Coronavirus\
                              \ (COVID-19), wearing a face mask is mandatory in all\
                              \ indoor common areas. Early departures after the guests\
                              \ have checked in will be charged for the full rate\
                              \ for the night of the departure as a penalty. A mandatory\
                              \ daily resort fee plus tax will apply. At check in,\
                              \ ask for applicable amenities. Please be advised that\
                              \ the credit card holder must be present at check-in.\
                              \ Any modification of a reservation will result in the\
                              \ original reservation being cancelled and a refund\
                              \ will be issued to the credit card used to secure the\
                              \ booking. The modified reservation will then be charged\
                              \ to the credit card used to secure the booking and\
                              \ will show as a new charge. Property is not responsible\
                              \ for exchange rate differences due to charges and refunds.\
                              \ Guests under the age of 21 can only check in with\
                              \ a parent or official guardian. This property charges\
                              \ $150 per night for incidentals. This charge is fully\
                              \ refundable upon checkout pending approval from the\
                              \ property. Guests are requested to contact the property\
                              \ after booking 10 rooms or more, as such bookings may\
                              \ be subject to different terms and conditions. Extra\
                              \ beds may not be available for all rooms. For all reservations,\
                              \ unless otherwise stated, cancel by 12am 72 hours prior\
                              \ to arrival date to avoid a penalty of one night room\
                              \ charge and tax. Please contact the hotel directly\
                              \ with any group related questions. The Buffet accepts\
                              \ all major credit cards as well as debit cards. Cash\
                              \ is not accepted. You may also charge your Buffet experience\
                              \ to your guest room."
                            refundableTag: RFN
                      - roomTypeId: GQ4TCMJXGA2Q
                        maxOccupancy: 1
                        rates:
                        - rateId: 1_GQ4TCMJXPQZDAMRTFUYDGLJRGV6DEMBSGMWTAMZNGE3HYML4GEZCYOL4KVJXYR2RGRKEGTKKLBDUCMSTI5GUET2HIFMUIQKNIJIUOQKSKREU6SSSI5CTGVCBJZFTOR2JLFCFCT2CKNEECWSUINHUGN2HJZIFIQ2YLJIUKTJSIRJU2SSSI42FEVSLKVMXYVKTIR6HI4TBOZSWYZLSGF6HYMBOGAYHYMRQGIZS2MBTFUYTEIBQGA5DAMB2GAYHYQSC
                          name: 'Encore Tower Suite Salon '
                          maxOccupancy: 0
                          retailRate:
                            total:
                            - amount: 0
                              currency: USD
                            taxesAndFees: null
                          cancellationPolicies:
                            cancelPolicyInfos:
                            - cancelTime: 2023-11-11 23:59:59
                              amount: 0
                              currency: USD
                              type: amount
                            - cancelTime: 2023-11-12 00:00:00
                              amount: 4643.89
                              currency: USD
                              type: amount
                            hotelRemarks:
                            - "Guests are required to show a photo identification\
                              \ and credit card upon check-in. Please note that all\
                              \ Special Requests are subject to availability and additional\
                              \ charges may apply. In response to Coronavirus (COVID-19),\
                              \ additional safety and sanitation measures are in effect\
                              \ at this property. Due to Coronavirus (COVID-19), this\
                              \ property is taking steps to help protect the safety\
                              \ of guests and staff. Certain services and amenities\
                              \ may be reduced or unavailable as a result. Due to\
                              \ Coronavirus (COVID-19), this property adheres to strict\
                              \ physical distancing measures. Due to Coronavirus (COVID-19),\
                              \ please ensure that you are only booking this property\
                              \ following the local government guidelines of the destination,\
                              \ including but not limited to the purpose of travel,\
                              \ and maximum allowed group size. Due to Coronavirus\
                              \ (COVID-19), wearing a face mask is mandatory in all\
                              \ indoor common areas. Early departures after the guests\
                              \ have checked in will be charged for the full rate\
                              \ for the night of the departure as a penalty. A mandatory\
                              \ daily resort fee plus tax will apply. At check in,\
                              \ ask for applicable amenities. Please be advised that\
                              \ the credit card holder must be present at check-in.\
                              \ Any modification of a reservation will result in the\
                              \ original reservation being cancelled and a refund\
                              \ will be issued to the credit card used to secure the\
                              \ booking. The modified reservation will then be charged\
                              \ to the credit card used to secure the booking and\
                              \ will show as a new charge. Property is not responsible\
                              \ for exchange rate differences due to charges and refunds.\
                              \ Guests under the age of 21 can only check in with\
                              \ a parent or official guardian. This property charges\
                              \ $150 per night for incidentals. This charge is fully\
                              \ refundable upon checkout pending approval from the\
                              \ property. Guests are requested to contact the property\
                              \ after booking 10 rooms or more, as such bookings may\
                              \ be subject to different terms and conditions. Extra\
                              \ beds may not be available for all rooms. For all reservations,\
                              \ unless otherwise stated, cancel by 12am 72 hours prior\
                              \ to arrival date to avoid a penalty of one night room\
                              \ charge and tax. Please contact the hotel directly\
                              \ with any group related questions. The Buffet accepts\
                              \ all major credit cards as well as debit cards. Cash\
                              \ is not accepted. You may also charge your Buffet experience\
                              \ to your guest room."
                            refundableTag: RFN
                    - hotelId: "49123"
                      termsAndConditions: "Guests are required to show a photo identification\
                        \ and credit card upon check-in. Please note that all Special\
                        \ Requests are subject to availability and additional charges\
                        \ may apply. In response to Coronavirus (COVID-19), additional\
                        \ safety and sanitation measures are in effect at this property.\
                        \ Due to Coronavirus (COVID-19), this property is taking steps\
                        \ to help protect the safety of guests and staff. Certain\
                        \ services and amenities may be reduced or unavailable as\
                        \ a result. Early departures after the guests have checked\
                        \ in will be charged for the full rate for the night of the\
                        \ departure as a penalty. A mandatory daily resort fee plus\
                        \ tax will apply. At check in, ask for applicable amenities.\
                        \ Please be advised that the credit card holder must be present\
                        \ at check-in. Any modification of a reservation will result\
                        \ in the original reservation being cancelled and a refund\
                        \ will be issued to the credit card used to secure the booking.\
                        \ The modified reservation will then be charged to the credit\
                        \ card used to secure the booking and will show as a new charge.\
                        \ Property is not responsible for exchange rate differences\
                        \ due to charges and refunds. Guests under the age of 21 can\
                        \ only check in with a parent or official guardian. This property\
                        \ charges $150 per night for incidentals. This charge is fully\
                        \ refundable upon checkout pending approval from the property.\
                        \ Guests are requested to contact the property after booking\
                        \ 10 rooms or more, as such bookings may be subject to different\
                        \ terms and conditions. For all reservations, unless otherwise\
                        \ stated, cancel by 12am 72 hours prior to arrival date to\
                        \ avoid a penalty of one night room charge and tax. Please\
                        \ contact the property with any group related questions."
                      roomTypes:
                      - roomTypeId: GQ4TCMRTGA2Q
                        maxOccupancy: 1
                        rates:
                        - rateId: 0_GQ4TCMRTPQZDAMRTFUYDGLJRGV6DEMBSGMWTAMZNGE3HYML4GEZCYOL4KVJXYR2RGRKEGTKSKRDUCMSTI5GUET2HIFMUIQKNIJIUOQKSKREU6SSSI5EVUVCBJZFTOR2JLFCFCT2CKNEECWSEJNHDEN2HJJIFIQ2YLJIUKTJSIRJU2SSTI5GVEVSLKVMXYVKTIR6HI4TBOZSWYZLSGF6HYMBOGAYHYMRQGIZS2MBTFUYTEIBQGA5DAMB2GAYHYQSC
                          name: Wynn Tower Suite Parlor
                          maxOccupancy: 0
                          retailRate:
                            total:
                            - amount: 0
                              currency: USD
                            taxesAndFees: null
                          cancellationPolicies:
                            cancelPolicyInfos:
                            - cancelTime: 2023-11-11 23:59:59
                              amount: 0
                              currency: USD
                              type: amount
                            - cancelTime: 2023-11-12 00:00:00
                              amount: 4243.09
                              currency: USD
                              type: amount
                            hotelRemarks:
                            - "Guests are required to show a photo identification\
                              \ and credit card upon check-in. Please note that all\
                              \ Special Requests are subject to availability and additional\
                              \ charges may apply. In response to Coronavirus (COVID-19),\
                              \ additional safety and sanitation measures are in effect\
                              \ at this property. Due to Coronavirus (COVID-19), this\
                              \ property is taking steps to help protect the safety\
[...]
